.defaultText {
  font-size: 32;
  font-family: Colfax-Light;
  font-weight: regular;
  text-length: 32;
  fill: black;
  text-anchor: middle;
}

text {
  font-size: 32;
  font-family: Colfax-Light;
  font-weight: regular;
  text-length: 32;
  fill: black;
  text-anchor: middle;
}

#background {
  width: 100%;
  height: 100%;
  fill: white;
}

#content {
  opacity: 0;
}

#heading {
  font-size: 55;
  font-family: Colfax-Bold;
}

#textMain2 {
  font-size: 55;
  font-family: Colfax-Bold;
}

#totalCost text{
  fill: black;
}

.rating-item text {
  font-size: 32;
  font-family: Colfax-Light;
  text-length: 32;
  fill: black;
  x: 50%;
  text-anchor: middle;
}

.rating-item {
  height: 100%;
}

.insights-item {
  height: 100%;
}

.insights-item text {
  font-size: 32;
  font-family: Colfax-Light;
  text-length: 32;
  fill: black;
  x: 50%;
  text-anchor: middle;
}

/* VT stylling */

.tile-list-item {
  height: 99;
  text-length: 256;
}

.tile-list-item text {
  font-family: System-Regular;
  fill: "black";
  text-anchor: start;
}

#deployments-num {
  font-size: 16;
  text-length: 16;
  fill: "grey";
  y: 85%;
  x: 1%;
}

.tile-divider-bottom {
  x: 0;
  y: 100%-2;
  width: 100%;
  height: 2;
  fill: #e0e0e0;
}

